{{- define "custom.requirementsSection" -}}
## Requirements

| Repository | Name | Version |
|------------|------|---------|
{{- range .Dependencies }}
| <{{ .Repository }}> | {{ if .Alias }}{{ .Alias }}{{ end }}{{ .Name }} | {{ .Version }} |
{{- end }}
{{- end -}}
